{% extends "layout.html" %}

{% block content %}
<div class="card">
    <h2>Add Question</h2>

    <form method="post">
        <input name="subject_id" placeholder="Subject ID"><br>
        <textarea name="question" placeholder="Question"></textarea><br>

        <input name="a" placeholder="Option A">
        <input name="b" placeholder="Option B">
        <input name="c" placeholder="Option C">
        <input name="d" placeholder="Option D"><br>

        <input name="correct" placeholder="Correct Answer (A/B/C/D)">
        <button>Add Question</button>
    </form>
</div>
{% endblock %}